<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="io.github.ikaros.vesper.player.android.cast.VesperCastOptionsProvider" />
    </application>
</manifest>
